:root {
  --ifm-color-primary: #2e62f6;
  --ifm-color-primary-dark: #2258f2;
  --ifm-color-primary-darker: #1b52ef;
  --ifm-color-primary-darkest: #1442c8;
  --ifm-color-primary-light: #4c79ff;
  --ifm-color-primary-lighter: #5c86ff;
  --ifm-color-primary-lightest: #7ea1ff;
  --ifm-code-font-size: 95%;
  --ifm-navbar-shadow: 0 1px 0 rgba(0, 0, 0, 0.08);
}

html[data-theme='dark'] {
  --ifm-background-color: #0f1115;
}

.markdown img {
  border-radius: 12px;
}

